* {
  background: #fff6d5;
  font-family: "Karla";
}

.body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  padding: 0;
}

.container-1 {
  display: flex;
  justify-content: center;
  margin: auto;
  padding: 100px;
  gap:10px;
  height: 100vh;
}

.cat {
  margin-right: 25px;
}

.info {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
  height: 100%;
}

.timesLooped {
  font-size: 20px;
  font-family: "Jersey 15";
  color: #d65d8e;
  margin: 0;
}

.timer {
  font-size: 70px;
  font-family: "Jersey 15";
  color: #7c3f58;
  margin: 0;
}

.button1 {
  display: inline-block;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  background-color: #EB6B6F;
  border: none;
  box-shadow: 0 5px #f0cdcd;
}

.button1:hover {background-color: #EB6B6F}

.button1:active {
  background-color: #EB6B6F;
  box-shadow: 0 5px #f0cdcd;
  transform: translateY(4px);
}

.button2 {
  display: inline-block;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  background-color: #EB6B6F;
  border: none;
  box-shadow: 0 5px #f0cdcd;
}

.button2:hover {background-color: #EB6B6F}

.button2:active {
  background-color: #EB6B6F;
  box-shadow: 0 5px #f0cdcd;
  transform: translateY(4px);
}

.button3 {
  display: inline-block;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  background-color: #EB6B6F;
  border: none;
  box-shadow: 0 5px #f0cdcd;
}

.button3:hover {background-color: #EB6B6F}

.button3:active {
  background-color: #EB6B6F;
  box-shadow: 0 5px #f0cdcd;
  transform: translateY(4px);
}